*{
    background-color: #faedcd;
}


#id2{
    background-color: #966214;
}

#ide7 {
    background-color: #966214;
}
#ide2{
    background-color: #966214;
}

#ide5{
    background-color: #0c0c0b;
}

#id5 {
    background-color: #c9c29e;
    text-align: center;
}

#id6{
    background-color: #023047;
    color: #ffffff;
    text-align: center;
}

#id7{
    background-color: black;
    color: #ffffff;
}